<% include ../partial/header %>

<div id="ncform">
  <h1>Edit <%=campground.name%></h1>
  <form action="/campgrounds/<%=campground._id%>/?_method=PUT" method="POST">
    <input class="form-control" type="text" name="campground[name]" value="<%=campground.name%>">
    <input class="form-control" type="url" name="campground[image]" value="<%=campground.image%>">
    <input class="form-control" type="text" name="campground[description]" value="<%=campground.description%>">
    <button class="btn btn-primary" type="submit">Submit Changes</button>
  </form>
</div>

<% include ../partial/footer %>